body {
  padding: 0px;
  border: 0px;
  background-color: #e0e0e0;
}

#lifContent {
  margin: auto;
  margin-top: 3px;
  width: 1000px;
  min-height: 100%;
  background-color: lightGrey;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .5);
  border-radius: 5px;
}

::selection {
  background: #999999;
}

a {
  border-color: #88C62C;
  color: white;
}

a:visited {
  color: white;
  border-color: #88C62C;
}

a:hover {
  color: white;
  border-color: #CC3E61;
}

.content {
  padding: 10px;
  padding-top: 20px;
}

h2 {
  font-size: 20px;
}

h1, h2, h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  border: 0px;
}

b.largeText {
  font-weight: bold;
  font-size: 45px;
  color: #CC3E61;
}

.header {
  margin: 0px;
  border: 0px;
  padding: 10px;
  overflow: auto;
}

h1.header {
  height: 50px;
  line-height: 40px;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#logo {
  float: right;
  width: 250px;
  border: 0px;
}

#logo img {
  width: 80%;
}

nav.header {
  font-size: 12px;
  background-color: #1F2121;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .5);
  background-image: linear-gradient(bottom, rgb(0,0,0) 3%, rgb(95,87,102) 52%);
  background-image: -o-linear-gradient(bottom, rgb(0,0,0) 3%, rgb(95,87,102) 52%);
  background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 3%, rgb(95,87,102) 52%);
  background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 3%, rgb(95,87,102) 52%);
  background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 3%, rgb(95,87,102) 52%);
}

#partners {
  float: right;
  width: 200px;
}

#partners a {
  border: 0px;
}

#partners img {
  padding: 3px;
}

#partners .sponsor {
  width: 70%;
  padding: 15px;
}

#partners .support {
  width: 40%;
}

.description {
  width: 640px;
}

.description div {
  padding-top: 10px;
}

strong {
  color: #CC3E61;
}

.note {
  font-style: italic;
  font-size: 14px;
}
