body {
  padding: 0px;
  border: 0px;
  background: url('res/bg.gif');
}

#editionLogo {
  vertical-align: middle;
  height: 100px;
  width: 130px;
}

#lifContent {
  margin: auto;
  margin-top: 3px;
  width: 1000px;
  min-height: 100%;
  background-color: white;
}

#distributionContainer {
}

::selection {
  background: #999999;
}

a {
  color: white;
  border: 0px;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

.content {
  padding: 10px;
  padding-top: 20px;
}

h2 {
  font-size: 20px;
}

h1, h2, h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  border: 0px;
}

b.largeText {
  font-weight: bold;
  font-size: 45px;
  color: #CC3E61;
}

.header {
  margin: 0px;
  border: 0px;
  padding: 10px;
  overflow: auto;
}

h1.header {
  line-height: 40px;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}

#logo {
  float: right;
  width: 230px;
  padding-right: 10px;
}

#logo img {
  padding-top: 23px;
}

nav.header {
  font-size: 16px;
  background-color: #1F2121;
  color: white;
  overflow: hidden;
}

nav span {
  padding-right: 20px;
  padding-left: 10px;
}

nav a {
  padding: 20px 20px 20px 20px;
}

nav a:hover {
  background-color: #CC3E61;
}

#partners {
  float: right;
  width: 200px;
  background-color: ligtgray;
  border-radius: 3px;
  padding: 10px;
}

#partners a {
  border: 0px;
}

#partners img {
  padding: 3px;
}

#partners .sponsor {
  width: 70%;
  padding: 15px;
}

#partners .support {
  width: 45%;
}

.description {
  width: 640px;
}

.description div {
  padding-top: 10px;
}

strong {
  color: #CC3E61;
}

.note {
  font-style: italic;
  font-size: 14px;
}
